@font-face {
  font-family: "AvenirBlack";
  font-style: normal;
  font-display: block;
  font-weight: 800;
  src: url("../fonts/AvenirLTStd-Black.otf");
}

@font-face {
  font-family: "AvenirBook";
  font-style: normal;
  font-display: block;
  font-weight: 800;
  src: url("../fonts/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: "AvenirRoman";
  font-style: normal;
  font-display: block;
  font-weight: 800;
  src: url("../fonts/AvenirLTStd-Roman.otf");
}